<?xml version="1.0"?>
<launch>
    <arg name="controller"  default="example_jointspace_controller" doc="Which example controller should be started?" />
    <rosparam file="$(find rug_panda_controllers)/config/rug_panda_controllers.yaml" subst_value="true"/>

    <node pkg="controller_manager"
        type="spawner"
        output="screen"
        name="panda_controller_spawner"
        respawn="false"
        args="--wait-for initialized franka_state_controller $(arg controller)"
    />
</launch>